*{
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;

}
body{
    background-color: #e5f0dc;
    justify-content: center;
}
.main-body-wrapper{
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
}
h1{
    background-color: aqua;
}
form{
    display: flex;
    flex-direction: column;
    background-color: red;
}
/* I want to make an animation of a hand slamming down a random tile for the submit button animation */
button{
    background-color: green;
}