body{
    background-color: #e5f0dc;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
}
h1{
    background-color: aqua;
}
form{
    display: flex;
    background-color: red;
}
